.bg-background {
    position: relative;
    height: 250px;
    width: 100%;
    background-image: url('../../assets/image/banner3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(249, 252, 255, 0.596);
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}